<div class ="navbar" ng-include="'components/navbar/navbar.html'"></div>

<div class="panel">
<div class="term">
  <input type="text" class="topic" ng-model="topic"></br>
  <button type="button" class="btn btn-lg btn-default" ng-click="chooseTopic(topic, true)">
    Start Gathering Topic: {{topic}}
  </button>
  <button type="button" class="get-topic btn btn-lg btn-default" ng-click="getTopic(topic)">
    Show {{topic}}
  </button>
  <button type="button" class="destroy-topic btn btn-lg btn-default btn-danger" ng-click="destroyTopic(topic)">
    Destroy {{topic}}
  </button>
  <div class="filters">
    <button type="button" class="edges btn btn-lg btn-default">
      Show Edges
    </button>
    <button type="button" class="show-blacklisted btn btn-lg btn-default">
      Allow Offensive Words
    </button>
  </div>
  <div class="row">
        <div class="col-md-8 pull-left">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Topic</th>
                <th># of Tweets</th>
                <th>Optimal for Viz</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start='topic in tweetParser'>
                <td>{{topic.topic}}</td>
                <td>{{topic.numTweets}}</td>
                <td>{{topic.isOptimal}}</td>
              </tr >
              <tr ng-repeat-end>
            </tbody>
          </table>
        </div>
      </div>
</div>

</div><div class="display"><div id="container"></div>
		<script src="js/globe.js"></script>
    <script src="js/orbitControls.js"></script>
    <script src="js/oculusRiftEffect.js"></script>
    <!-- // <script src="leapControls.js"></script> -->
    <script src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
    <script>

      $(function(){
        
        // mouseenter and mouseleave adjust listeners to allow typing in input box while mouse is over
        $('.topic').mouseenter(function(){
          orbitControls.enabled = false;
          window.onkeydown = null;
        });
        
        $('.topic').mouseleave(function(){
          orbitControls.enabled = true;
          window.onkeydown = checkKeyPressed;
        })
        
        $('.get-topic').on('click', function(){
          var topic = $('.topic').val();
          getTweets(topic);
        });
        
        $('.edges').on('click', function(){
          addEdge = !addEdge;
        });
        
        $('.show-blacklisted').on('click', function(){
          showBlacklistedTweets = !showBlacklistedTweets;
        });
        
      });

      var getTweets = function(){
        var topic = $('.topic').val();
        $.ajax({
          type: "GET",
          url: 'api/tweets/getTweets/' + topic,
          success: function(data){
            renderTweets(data);              
          }
        });
      }
      
      // keypress events to trigger tweets and return vr view to home
      function checkKeyPressed(e){
        console.log('pressed')
        e.preventDefault();
        if (e.keyCode === 32) {
          vrControls.zeroSensor();
        }
        if (e.keyCode === 13) {
          getTweets('ebola');
        }
      }
      
      
      //////////// Options Flags //////////////
      var showBlacklistedTweets = false;
      var addEdge = true;
      var nextFuncReady = true;
      var oculusIsOn = false;
      var oculusControl = true;
      var leapIsOn = true;

      var oculusW = 0;
      var oculusH = 0;
      var clock = new THREE.Clock();

      // Removes sidebar and navbar to resize oculus window
      if(oculusIsOn){
        $('.panel').hide();
        $('.navbar').hide();
        $('.footer').hide();
      } else{
        $('.display').addClass('ocOff');
      }

 // THREE.js globe visualization and VR

      var render = function(){
        if (oculusIsOn){
          oculusVr.render(scene, camera);
        } else {
          renderer.autoClear = true;
          renderer.render(scene, camera);
        }
      };

      var animate = function(){
        var dt = clock.getDelta();
        orbitControls.update(dt);

        if (oculusIsOn && oculusControl) {
          vrControls.update();
        }

        requestAnimationFrame(animate);
        TWEEN.update();
        render();
      };


      var w = 0, h = 0;
      // var c = container.getContext('2d'); 
      var el = container;
      
      while (el){
        w += el.offsetLeft;
        h += el.offsetTop;
        el = el.offsetParent;
      }
      
      // overrides w & h if oculus headset is flagged on
      if (oculusIsOn) {
        w = oculusW;
        h = oculusH;
      }
      
      w = window.innerWidth - w;
      h = window.innerHeight - h;
      var globe = new Globe(200);
      window.scene = new THREE.Scene();
      window.camera = new THREE.PerspectiveCamera(90, w / h, 5, 5000);
      var vrControls = new THREE.VRControls( camera );
      vrControls.enablePosition = false;
      window.renderer = new THREE.WebGLRenderer({precision: 'highp', preserveDrawingBuffer: true, antialiasing: true});
      var light = new THREE.DirectionalLight(0xffffff, 1);
      scene.add(new THREE.AmbientLight(0x404040));
      light.position.set(500, 0, 0);
      camera.lookAt(scene.position);
      camera.position.set(0.0, 0.0, 600);
      renderer.setSize(w, h);
      globe.position.set(0.0, 0.0, 0.0);
      
      var skybox = new THREE.Mesh(new THREE.SphereGeometry(3000, 72, 36), new THREE.MeshBasicMaterial({
        map: THREE.ImageUtils.loadTexture('../assets/images/tycho3.png'),
        side: THREE.BackSide
      }));
      
      scene.add(globe);
      scene.add(skybox);
      scene.add(light);
      container.appendChild(renderer.domElement);
      var oculusVr = new THREE.OculusRiftEffect(renderer);
      oculusVr.setSize(w, h);
      render();
      
      // sets up orbitcontrols and limits mouse inputs to container element
      var orbitControls = new THREE.OrbitControls(camera, renderer.domElement);      
      orbitControls.minDistance = 8;
      orbitControls.maxDistance = 8000;
      window.orbitControls = orbitControls;

      animate();
        
            
      // simple function to calculate random value between -20 and 20 for fountain offset
      var nodeTargetRandom = function(){
        return Math.random() * (20 - (-20)) + (-20);
      }
      
      ////////////// renders tweets in order gathered from DB ////////////////
      
      var renderTweets = function(tweets){
        
        var i = 1;
        var renderLoop = function(){

          var nodeSource = globe.getEcef(tweets[i].latitude, -tweets[i].longitude, 0);

          if (tweets[i].followers_count > 10000 && addEdge) {
            var multi = Math.ceil(tweets[i].followers_count / 10000);
            var color = 'blue';
            for (var j = 0; j < multi; j++) {              
              var nodeTarget = globe.getEcef(tweets[i].latitude + nodeTargetRandom(), -tweets[i].longitude + nodeTargetRandom(), 0);
              globe.drawEdge(nodeSource, nodeTarget, color, true, 5);
            }
            var url = tweets[i].photo;
            // displayPhoto(url, nodeTarget);  // Uncomment to enable displayPhoto IF security disabled
          } else {
            var color = 'orange';
          }
          globe.spark({lat: tweets[i].latitude, lon: -tweets[i].longitude, size: 50, color: color, duration: 2 });
          setTimeout(function(){
            if (i < tweets.length) {
              renderLoop(tweets[i++]);
            }
          }, 150);  // sets 150ms interval between tweets
        }
        renderLoop();
      }

      ////////////////// displays photos flying into space //////////////////

      var displayPhoto = function(url, node){
        
        var onComplete = function(object){
          scene.remove(object);
        };
        var pos = camera.position;
        var rnd = Math.random;
        var texture = new Image();
        texture.crossOrigin = "";
        texture.onload = function(){
          var material = new THREE.MeshBasicMaterial( { map: new THREE.Texture(texture), side:THREE.DoubleSide, transparent: true } );
          material.opacity = 0.7;
          var imageGeometry = new THREE.PlaneBufferGeometry(texture.width / 10, texture.height / 10, 1, 1);
          var image = new THREE.Mesh(imageGeometry, material);
          image.position.set( node.position.x,node.position.y,node.position.z );
          image.material.map.needsUpdate = true;
          image.lookAt(camera.position);
          scene.add(image);
          createjs.Tween.get(image.position)
          .to({x: pos.x*(0.9+(rnd()*0.4)), y: pos.y*(0.9+(rnd()*0.4)), z: pos.z*(0.9+(rnd()*0.4))}, 8000)
          .call(onComplete, [image]); 
        };
        texture.src = url;
      };

    </script>
</div>

<footer class="footer">
  <div class="container">
      <p>Made at Hack Reactor in conjunction with Kinetech |
         <a href="https://github.com/HR-Data-Geyser/Data-Geyser/issues?state=open">Issues</a></p>
  </div>
</footer>
