<div class ="navbar" ng-include="'components/navbar/navbar.html'"></div>

<div class="panel">
<div class="term">
  <input type="text" class="topic" ng-model="topic"></br>
  <button type="button" class="btn btn-lg btn-default" ng-click="chooseTopic(topic, true)">
    Choose a topic: {{topic}}
  </button>
  <button type="button" class="get-topic btn btn-lg btn-default" ng-click="getTopic('ebola')">
    Show {{topic}}
  </button>
  <button type="button" class="edges btn btn-lg btn-default">
    Show Edges
  </button>
  <button type="button" class="oculus btn btn-lg btn-default">
    Oculus
  </button></br>

  <div class="row">
        <div class="col-md-8 pull-right">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Topic</th>
                <th># of Tweets</th>
                <th>Optimal for Viz</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start='topic in tweetParser'>
                <td>{{topic.topic}}</td>
                <td>{{topic.numTweets}}</td>
                <td>{{topic.isOptimal}}</td>
              </tr >
              <tr ng-repeat-end>
            </tbody>
          </table>
        </div>
      </div>
</div>

</div><div class="display"><div id="container"></div>
		<script src="js/globe.js"></script>
    <script src="js/orbitControls.js"></script>
    <script src="js/oculusRiftEffect.js"></script>
    <script>
    
      $(function(){
        $('.get-topic').on('click', function(){
          getTweets();
        });
        $('.edges').on('click', function(){
          addEdge = !addEdge;
        });
        $('.oculus').on('click', function(){
          oculusIsOn = !oculusIsOn;
        })
      });
      
      var getTweets = function(topic){
        $.ajax({
          type: "GET",
          // url: 'api/tweets/getTweets/' + topic,
          url: 'api/tweets/getTweets/ebola',
          success: function(data){
            console.log('Done loading'); 

            if (data.length < 2000) {
              alert('Not enough tweets asshole!');
            } else {
              renderTweets(data);              
            }
          }
        });
      }
      
      var addEdge = false;
      var nextFuncReady = true;
      var oculusIsOn = false;
      
      var oculusW = 0;
      var oculusH = 0;
      
      if(oculusIsOn){
        $('.panel').hide();
        $('.navbar').hide();
        $('.footer').hide();
      } else{
        $('.display').addClass('ocOff');
      }
      
      var render = function(){
        if (oculusIsOn){
          oculusVr.render(scene, camera);
        } else {
          renderer.autoClear = true;
          renderer.render(scene, camera);
        }
      };
      
      var animate = function(){
        requestAnimationFrame(animate);
        TWEEN.update();
        render();
      };
      
      var container = document.getElementById('container');
      var w = 0, h = 0;
      var el = container;
      while (el){
        w += el.offsetLeft;
        h += el.offsetTop;
        el = el.offsetParent;
      }
      
      if (oculusIsOn) {
        w = oculusW;
        h = oculusH;
      }
      

      w = window.innerWidth - w;
      h = window.innerHeight - h;
      var globe = new Globe(200);
      window.scene = new THREE.Scene();
      window.camera = new THREE.PerspectiveCamera(90, w / h, 5, 5000);
      window.renderer = new THREE.WebGLRenderer({precision: 'highp', preserveDrawingBuffer: true, antialiasing: true});
      var orbitControls = new THREE.OrbitControls(camera);
      var light = new THREE.DirectionalLight(0xffffff, 1);
      scene.add(new THREE.AmbientLight(0x404040));
      light.position.set(500, 0, 0);
      camera.lookAt(scene.position);
      camera.position.set(0.0, 0.0, 600);
      renderer.setSize(w, h);
      globe.position.set(0.0, 0.0, 0.0);
      scene.add(globe);
      scene.add(light);
      container.appendChild(renderer.domElement);
      var oculusVr = new THREE.OculusRiftEffect(renderer);
      oculusVr.setSize(w, h);
      render();
      animate();
      
      var leapIsOn = true;
      orbitControls.addEventListener( 'change', render );
      orbitControls.minDistance = 8;
      orbitControls.maxDistance = 8000;
      window.orbitControls = orbitControls;
      
      if (leapIsOn) {
        leapController = new Leap.Controller({ enableGestures: false });
        leapController.connect();
        var dx = 0.001;
        var dy = 0.001;
        var dz = 0.001;
        leapController.on( 'animationFrame' , function( frame ) {
          for(var h = 0; h < frame.hands.length; h++){
            var hand = frame.hands[h];
            window.hand = hand;
            var position = hand.palmPosition;
            var direction = hand.direction;
            var timer = new Date().getTime() * 0.0005;
            var lr = hand.palmPosition[0];
            var ud = hand.palmPosition[2];
            var zoom = hand.palmPosition[1];
            var vel = hand.palmVelocity;
            var v = Math.sqrt(vel[0] * vel[0] + vel[1] * vel[1] + vel[2] * vel[2]);
            var scrollSpeed; 
            var scaleZoom = zoom - 200; 
// CLEANUP TODO: Less hard-code, more params 
            if(hand.confidence > 0.5 && v < 400){
              if(hand.pinchStrength < 0.4){ //hand open
                if(Math.abs(lr) > 80){
                  var direction = lr > 0 ? -1 : 1 ;
                  scrollSpeed = ( Math.abs(lr) - 80 ) / 10000;
                  orbitControls.rotateLeft(direction * scrollSpeed);
                }
                if(Math.abs(ud) > 80){
                  var direction = ud > 0 ? -1 : 1 ;
                  scrollSpeed = ( Math.abs(ud) - 80 ) / 15000; 
                  orbitControls.rotateUp(direction * scrollSpeed);
                }
                if(scaleZoom < 20 || scaleZoom > 80) {
                  var offset = scaleZoom;
                  if(offset < 20) {
                    scrollSpeed = Math.abs(offset - 20) / 20000 ; 
 
                    orbitControls.dollyIn(1 + scrollSpeed);
                  } 
                  if (offset > 80){
                    scrollSpeed = Math.abs(offset - 80) / 20000;
                    orbitControls.dollyOut(1.0 + scrollSpeed);
                  }
                }
                orbitControls.update()
              }
              if(hand.pinchStrength > 0.8){
                console.log('pinch'); 
                if(nextFuncReady){
                  getTweets();
                  nextFuncReady = false;
                  setTimeout(function(){nextFuncReady = true;}, 10000);
                }
              }
            }
          }
        });
      }
      
      var renderTweets = function(tweets){
        var i = 1;

        var renderLoop = function(){
          var testSource = globe.getEcef(tweets[i - 1].latitude, -tweets[i - 1].longitude, 0);
          var testTarget = globe.getEcef(tweets[i].latitude, -tweets[i].longitude, 0);
          if (tweets[i].in_reply_to_screen_name !== null) {
            var color = 'blue';
            // var edgeColor = 'green'
          } else {
            var color = 'orange';
            // var edgeColor = 'red';
          }
          if (addEdge) {
            globe.drawEdge(testSource, testTarget, color, true, 5);
          }
          globe.flash({lat: tweets[i].latitude, lon: -tweets[i].longitude, size: tweets[i].followers_count / 800, color: color });
          setTimeout(function(){
            if (i < tweets.length) {
              renderLoop(tweets[i++]);
            }
          }, 5);
        }
        renderLoop();
      }
    </script>
</div>

<footer class="footer">
  <div class="container">
      <p>Made at Hack Reactor in conjunction with Kinetech |
         <a href="https://github.com/HR-Data-Geyser/Data-Geyser/issues?state=open">Issues</a></p>
  </div>
</footer>